<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>SignIn</title>
  </head>
  <body class="temp">
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
      <form action="/user/signin" method="post" class="w-50 m-auto mt-5">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" style="font-weight: 700;font-size: 20px;"
            >Email address</label
          >
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" style="font-weight: 700;font-size: 20px;">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary bg-dark" style="
        font-size: 20px;">Submit</button>
      </form>
    </div>

    <%- include('./partials/script.ejs') %>
  </body>
</html>
